{% extends "main/base.html" %}
{% block content %}
<div class="container text-center">
    <h1 class="mt-5 mb-4">Üdvözöljük!</h1>
    {% if user.is_authenticated %}
        <h2>Üdv, {{ user.username }}!</h2>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'home' %}">
            <button type="submit" class="btn btn-danger btn-lg mt-3">Kijelentkezés</button>
        </form>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block mb-3">Bejelentkezés</a>
                <a href="{% url 'register' %}" class="btn btn-success btn-lg btn-block">Regisztráció</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
